<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Demo app</title>
</head>
<body>
<div>Main site...</div>
<br>
<div>
    <p>
        <a th:href="@{/adminPage}" class="btn btn-default">
            <button type="button">Go to admin page</button>
        </a>
    </p>
</div>
<br>
<div>
    <p>
        <a th:href="@{/userPage}" class="btn btn-default">
            <button type="button">Go to user page</button>
        </a>
    </p>
</div>
</body>

</html>